<div>
	<div class="container white-font " >
		<br><br>
		<div class="small-12 columns">
		<h1><a class="a-slide"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a></h1>
		<br><br>
		<h1><a class="a-slide"><i class="fa fa-clipboard"></i> &nbsp;&nbsp;About</a></h1>
		<br><br>
		<h1><a class="a-slide"><i class="fa fa-user"></i> &nbsp;&nbsp;Contact</a></h1>
		<br><br>
		<h1><a class="a-slide"><i class="fa fa-dollar"></i> &nbsp;&nbsp;Pricing</a></h1>
		<br><br>			
		<h1><a class="a-slide" ng-click="close()"><i class="fa fa-caret-square-o-left"></i> &nbsp;&nbsp;Back</a></h1>
		</div>
			

	</div>	
</div>
				

				
