<div class="" ng-init="init()">

	<div class="row">
		<div class="medium-4 small-12 columns">
				<br><br>
				<centered>
					<h3><strong>Mobile</strong></h3>
					<small>iOS/Android Optimized!</small><br>								
					<img src="media/home/mobile.png" class="img-responsive"/>
					<h6 style="text-align: justify" class="fonttype-2">{{lorem  | characters:125 :true }}<a><strong> Read More!</strong></a></h6>
					<br>
				</centered>		
				<br>
		</div>	
		<div class="medium-4 small-12 columns" ng-class="{true: 'flat-dark', false: ''}[responsive('< 640')]">
			
				<br><br>
				<centered>
					<h3><strong>Tablet</strong></h3>		
					<small>Web apps made right!</small><br>								
					<img src="media/home/tablet.png" class="img-responsive"/>
					<h6 style="text-align: justify" class="fonttype-2">{{lorem  | characters:125 :true }}<a><strong> Read More!</strong></a></h6>
					<br>
				</centered>		
				<br>
		</div>	
		<div class="medium-4 small-12 columns">
				<br><br>
				<centered>
					<h3><strong>Desktop</strong></h3>		
					<small>Looks great at any resolution!</small><br>								
					<img src="media/home/desktop.png" class="img-responsive"/>
					<h6 style="text-align: justify" class="fonttype-2">{{lorem  | characters:125 :true }}<a><strong> Read More!</strong></a></h6>
					<br>					
				</centered>		
				<br>
		</div>						
	</div>
	<hr>	
	

			
</div>	

