<div id="mainSlider" style="background-color: transparent; color: white; ">  <!-- MINHEIGHT HAS TO MATCH THE IMAGE SIZE OR THE STICKY WILL GET CONFUSED -->
		<div id="carousel-1" class="rn-carousel-container" >
			<ul rn-carousel="" rn-carousel-control="">
	            <li ng-repeat="slide in slides" >	              
	                <div style="position: absolute; width: 100%; height: 100%">
	                		<centered>
	                			<div class="container">
	                			
	                			<h1>{{slide.label}}</h1>
	                			<h4>{{slide.subtitle}}</h4>	                			
	                			<br><br><br><br>
	                			<br><br><br><br>
	                			<br><br>
	                			</div>
	                		</centered>
	                </div>
	                	 
	                	<img ng-src="{{slide.img}}" class="img-responsive" style="cursor: pointer" style-parent />   
	                       
	            </li>
     	   </ul>
        </div>
</div>